################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/24dec/FileContentIndex/eaea711a-8ee2-4f2e-a84e-a77f623410d6.vsidx
/.vs/24dec/FileContentIndex/d8b42af4-0b17-4f6b-aff1-b1df9ff9bc81.vsidx
