################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/24dec/FileContentIndex/eaea711a-8ee2-4f2e-a84e-a77f623410d6.vsidx
